<div class="banner-show" style="background-image: url(<%= image_path 'autostop.jpg'%>);">
  <div class="title-show-autostop"><span>Stop à 280km/h </span></div>
</div>
<div class="container-show">
  <div class="questions">Pourquoi tu pars ?</div>
  <div class="answers">En novembre 2016, j’ai décidé de rejoindre mon ami Léonard en Erasmus à Salzburg. Installé dans mon quotidien et motivé par mes lectures, je recherchais un challenge. J’ai donc décidé à 23h de partir le lendemain aux aurores en auto-stop depuis Paris car j’avais peu de moyens et je m’y prenais au dernier moment. Je suis finalement arrivé à 22h après 16h de voyage, 12 chauffeurs différents et 1100km parcouru. Mieux que le Concorde. </div>
  <div class="questions">Tu préfères pas le bus ?</div>
  <div class="answers">L'auto-stop c'est la surprise à chaque station-service. J'ai trouvé mon avant-dernier trajet dans une station service en Allemagne à 150 kms de Munich. Mon précédent conducteur venait tout juste de me déposer et de m'offrir des bières qu'il avait lui même brassée quand j'ai été pris en stop dans une Audi R8 par un Allemand pressé. A peine monté, Friedriech le conducteur est rapidement monté jusqu'à 280km/h. Avec une moyenne de 230km/h, nous avons fait les 150km jusqu'à Munich en 40 minutes. J'ai eu une sacrée frousse.</div>
  <div class="questions">T'as pas mieux pour faire des rencontres ?</div>
  <div class="answers">Il est assez rare de partager un moment enfermé dans l’espace clos d’une voiture avec un inconnu, alors imaginez douze hommes, douze voitures. En plus, en auto-stop on est dépendant de la conduite des gens qui te prennent. J'ai discuté, créé du lien, présenté à mes conducteurs une version de la jeunesse qu'ils ne connaissaient pas. Et moi j'ai découvert 12 versions différentes de la vie. L'expérience fut merveilleuse et je me souviens encore de chacun de mes précieux conducteurs. </div>
  <div class="card-content">
    <p>Baptiste Chebassier - codeur - intervieweur - interviewé</p>
    <img src="<%= image_path 'avatar.jpg'%>", class="avatar"  alt="">
  </div>
  <div class="buttons-show">
        <a href="/rafting.html" class="btn-treehouse">Wild rafting in Gorges du Tarn?</a>
        <a href="/californie.html" class="btn-treehouse">Awesome trip in California?</a>
        <a href="/" class="btn-treehouse">Get Back Home</a>
      </div>
</div>

