<div class="banner-show" style="background-image: url(<%= image_path 'autostop.jpg'%>);">
  <div class="title-show-autostop"><span>Stop à 280km/h </span></div>
</div>
<div class="container-show">
  <div class="questions">Pourquoi tu pars ?</div>
  <div class="answers">Non c'est génial. Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </div>
  <div class="questions">T'as pas mieux pour faire des rencontres ?</div>
  <div class="answers">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </div>
  <div class="questions">Tu préfères pas le bus ?</div>
  <div class="answers">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </div>
  <div class="card-content">
    <img src="<%= image_path ''%>" alt="">
  </div>
  <div class="buttons-show">
        <a href="/californie.html" class="btn-treehouse">Awesome trip in California?</a>
        <a href="/rafting.html" class="btn-treehouse">Wild rafting in Gorges du Tarn?</a>
        <a href="/" class="btn-treehouse">Get Back Home</a>
      </div>
</div>

