<div class="banner-show" style="background-image: url(<%= image_path 'californie.jpg'%>);">
  <div class="title-show"><span>La Californie en tout petit</span></div>
</div>
<div class="container-show">
  <div class="questions">Mais pourquoi t'as fait ça ?</div>
  <div class="answers">Explique pk je l'ai fait. Non c'est génial. Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </div>
  <div class="questions">T'as jamais eu peur des Ours ?</div>
  <div class="answers">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </div>
  <div class="questions">Et pourquoi t'es revenu ?</div>
  <div class="answers">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. </div>
  <div class="card-content">
    <img src="<%= image_path ''%>" alt="">
  </div>
  <div class="buttons-show">
        <a href="/rafting.html" class="btn-treehouse">Wild rafting in Gorges du Tarn?</a>
        <a href="/autostop.html" class="btn-treehouse">280 km/h in Friedriech Bond's Audi?</a>
        <a href="/" class="btn-treehouse">Home</a>
      </div>
</div>

