<div class="banner-show" style="background-image: url(<%= image_path 'radeau.jpg'%>);">
  <div class="title-show"><span>Les Gorges du Tarn ... à raz d'eau</span></div>
</div>
<div class="container-show">
  <div class="questions">T'as pas une meilleure idée ?</div>
  <div class="answers">Avec mon ami de toujours Léonard on adore l'aventure. Et on aime aller vite. Du coup un beau jour on s'est dit : cet été on descend les Gorges du Tarn en radeau. On a acheté des pagaies et des gilets de sauvetage, on a pris nos sacs à dos et on a remonté tout le Tarn en stop jusqu'à sa source. Puis on a trouvé des palettes, demandé dans un garage des vieilles chambres à air de tracteur, dans une station service des rustines et construit le navire.</div>
  <div class="questions">T'as jamais vu plus beau ?</div>
  <div class="answers">Nos vieilles chambres à air flottant en plein milieu des Gorges, la forêt, les vautours, personne sur l'eau, les villages et châteaux locaux construit dans la roche. Nos régions ont du talent. Il a juste manqué de l'eau. Beaucoup d'eau. On a sous-estimé l'impact de l'été dans le débit de la rivière. On a passé beaucoup trop de temps à le porter alors que c'était sa tâche, et à s'écorcher les chevilles contre les pierres.  </div>
  <div class="questions">T'as rien d'autre à faire ?</div>
  <div class="answers">J'y ai pris un plaisir énorme.  On a pris autant de plaisir à le penser et à le construire qu'à faire la descente. C'était l'accomplissement de ma propre liberté. L'auto-stop, le camping sauvage, fabriquer son moyen de transport et se déplacer à la force de ses bras (et de ses jambes). Et c'est toujours autant de rencontres improbables. Comme ce monsieur travaillant à la mairie qui nous a pris en stop, attiré par nos pagaies et notre chapeau de paille et qui a nous a indiqué le meilleur coin de la région pour faire du camping sauvage. Son coin.</div>
  <div class="card-content">
    <p>Baptiste Chebassier - codeur - intervieweur - interviewé</p>
    <img src="<%= image_path 'avatar.jpg'%>", class="avatar"  alt="">
  </div>
  <div class="buttons-show">
    <a href="/californie.html" class="btn-treehouse">California is too small</a>
    <a href="/autostop.html" class="btn-treehouse">280 km/h in Friedriech Bond's Audi?</a>
    <a href="/" class="btn-treehouse">Get Back Home</a>
  </div>
</div>

